.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  
  .imagen{
    
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
  }

  .fondo{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
  }

  .colombia{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }

  .estados{
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  }

  .peru{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,37,37,1) 0%, rgba(211,49,49,1) 82.8% );
  }
  .espana{
    background-image: radial-gradient( circle 426px at 77.9% 31.3%,  rgba(255,229,131,1) 0%, rgba(249,119,0,1) 90% );
  }

  .chile{
    background-image: linear-gradient( 90.8deg,  rgba(205,5,32,1) 0.5%, rgba(205,10,90,1) 99.9% );
  }

  .ecuador{
    background-image: linear-gradient( 108.7deg,  rgba(34,219,231,1) -0.9%, rgba(52,118,246,1) 88.7% );
  }

  .panama{
    background-image: radial-gradient( circle 484px at 49.4% 19%,  rgba(23,156,214,1) 0%, rgba(52,48,111,1) 100.2% );
  }

  
  .btn-whap{
    position: fixed;
    width: 70px;
    height: 70px;
    line-height: 70px;
    bottom: 30px;
    right: 30px;
    background:green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.btn-whap:hover{
    text-decoration: none;
    color:green;
    background: #fff;
    transition: ease-in 0.5s;
}

@media screen and (max-width:760px){

    .btn-whap{
        width: 60px;
        height: 60px;
        line-height: 60px;
        bottom: 40px;
        right: 30px;
    text-align: center;

    }
}